<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>BookCollection</title>
=======
    <title>TestApp</title>
>>>>>>> 90e6c2baf9330c34eecbb8bd5874b53b633815b6
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<<<<<<< HEAD
<% if alert %>
  <p id="alert"><%= alert %></p>
<% end %>
=======
>>>>>>> 90e6c2baf9330c34eecbb8bd5874b53b633815b6
  </body>
</html>
